// Custom styles.

// 主页文章添加阴影效果
.post {
// margin-top: 10px;
// margin-bottom: 10px;
//padding: 5px;
//-webkit-box-shadow: 0 0 3px rgba(202, 203, 203, .5);
-webkit-box-shadow: 10px 10px 5px #888888; 
//-moz-box-shadow: 0 0 3px rgba(202, 203, 204, .5);
-moz-box-shadow: 10px 10px 5px #888888; 
}